@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		@apply text-black-dimata;
	}
}

@layer components {
	.fake-tbody::before {
		content: '@';
		display: block;
		line-height: 10px;
		text-indent: -99999px;
	}
}
